site_name: GRE Study App
site_description: Documentation for the GRE Study App built with Next.js
repo_url: https://github.com/ianlintner/gre-study-modern
theme:
  name: readthedocs
nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Architecture: architecture.md
  - Development Guide: development.md
  - Question-Topic Linking: question-topic-linking.md
  - Contributing: contributing.md
  - FAQ: faq.md
plugins:
  - search
markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
  - tables
  - fenced_code
